.vs/3PsProj/config/applicationhost.config
.vs/3PsProj/DesignTimeBuild/.dtbcache.v2
.vs/3PsProj/v17/.futdcache.v1
.vs/3PsProj/v17/.suo
3PsProj/bin
3PsProj/obj
3PsProj/.DS_Store
3PsProj/ActionFolder/.DS_Store
.vs/3PsProj/xs/UserPrefs.xml
.vs/3PsProj/xs/project-cache/3PsProj-Debug.json
.vs/3PsProj/xs/UserPrefs.xml
.vs/3PsProj/xs/project-cache/3PsProj-Debug.json
.vs/3PsProj/xs/project-cache/3PsProj-Debug.json
.vs/3PsProj/xs/UserPrefs.xml
